* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    border-spacing: 0;
}

table tbody tr td {
    padding: 10px;
    border-bottom: 1px solid blue;
}

table thead tr th {
    background-color: firebrick;
    color: white;
    padding: 5px;
}